html
  head
    title='Urushi Counter'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favicon.png')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css')

  body
    .tool
      code #{site}/get/@
      input#name(type='text', placeholder=':name', style='display: inline-block; width: 80px; height: 1.4em; line-height: 1.4em; margin: 0 4px; vertical-align: middle;')
      code ?theme=
      select#theme(style='display: inline-block; height: 1.6em; line-height: 1.6em; font-size: 14px; margin: 0 4px; padding: 0 4px; vertical-align: middle;')
        option(value='urushi') urushi
        option(value='asoul') asoul
        option(value='moebooru') moebooru
        option(value='moebooru-h') moebooru-h
        option(value='rule34') rule34
        option(value='gelbooru') gelbooru
        option(value='gelbooru-h') gelbooru-h
      button#get(style='margin: 10px 0;', onclick='_evt_push("click", "normal", "get_counter")') Get
      img#result(style='display: block;')

      script.
        var btn = document.getElementById('get'),
            img = document.getElementById('result')

        btn.addEventListener('click', function() {
          var name = document.getElementById('name'),
              themeEl = document.getElementById('theme')
          var text = name.value ? name.value.trim() : ''
          var theme = themeEl.value || 'moebooru'
          if(!text) {
            alert('Please input counter name.')
            return
          }

          img.src = '#{site}/get/@' + text + '?theme=' + theme
        })

    h2 Usage
    p(style='margin: 0;') Replace <code>:name</code> with your counter name.

    h5 HTML
    code &lt;img src="#{site}/get/@:name" alt=":name" />

    h5 Markdown
    code ![:name](#{site}/get/@:name)

    br
    br

    h2 Example
    p(style='margin: 0;') <a href="#{site}/get/@index?theme=urushi" target="_blank"><code>#{site}/get/@index?theme=urushi</code></a>

    p <img src="#{site}/get/@index?theme=urushi" alt="Urushi Counter" />
